.center__section {
  width: 75%;
  height: 99.6vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #f0f0f6;
}

.mobile_Home {
  display: none;
}

.center__section #home .self__container {
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 20px rgb(185, 185, 185);
  background-color: white;
  padding: 40px;
  padding-bottom: 40px;
  align-items: center;
  margin: 0px 20px;
}

.center__section #home .self__container .inner__left__side {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.center__section #home .self__container .inner__left__side h1 {
  font-weight: 700;
  font-size: 48px;
  color: black;
}

.center__section #home .self__container .inner__left__side p {
  color: #767676;
}

.center__section #home .self__container .inner__left__side h1 span {
  color: #ffb400;
}

.center__section #home .self__container .inner__right__side {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.center__section #home .self__container .inner__right__side button {
  all: unset;
  background-color: #ffb400;
  padding: 10px 25px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  color: black;
  transition: all 0.3s ease-in-out;
}

.center__section #home .self__container .inner__right__side button:hover {
  box-shadow: 0px 0px 30px #f0b326;
}

.center__section #home .overview_conatiner {
  width: 96%;
  background-color: #fff;
  margin: 0px 20px;
  margin-top: 20px;
  box-shadow: 0px 0px 20px rgb(185, 185, 185);
  padding-bottom: 20px;
}

.center__section #home .overview_conatiner h1 {
  text-align: center;
  font-weight: 700;
  color: black;
  font-size: 40px;
  padding: 20px 0px;
}

.center__section #home .overview_conatiner .main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 10px;
}

.center__section #home .societies__container {
  width: 96%;
  background-color: #fff;
  margin: 0px 20px;
  box-shadow: 0px 0px 20px rgb(185, 185, 185);
}
.center__section #home .societies__container h1 {
  text-align: center;
  margin-top: 25px;
  padding: 20px 0px;
}
.center__section #home .societies__container .societies__flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.center__section .education {
  width: 100%;
}
.center__section .education h1 {
  text-align: center;
  margin: 80px 0px;
}
.center__section .education .education__container {
  width: 96%;
  margin: 0px 20px;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgb(185, 185, 185);
}

.center__section .education .education__container .edu__flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.center__section .education .education__container .edu__flex .left {
  width: 40%;
  padding: 5px 20px;
}
.center__section .education .education__container .edu__flex .right {
  width: 60%;
  padding: 5px 20px;
}
.center__section .education .education__container .line {
  margin: 20px 55px;
}

.center__section .education .education__container .edu__flex .edu__inner__flex {
  display: flex;
  margin: 20px 0px;
}

.center__section
  .education
  .education__container
  .edu__flex
  .edu__inner__flex
  .month {
  background-color: #ffb400;
  height: 25px;
  padding: 0px 10px;
  color: white;
  margin-left: 10px;
}

.card1 {
  width: 300px;
  height: 414px;
}
.card1 img {
  height: 220px;
  object-fit: cover;
}
.card2 {
  width: 100%;
  height: 414px;
  box-shadow: 0px 0px 20px rgb(185, 185, 185);
}
.card2 img {
  height: 220px;
  object-fit: cover;
}

.center__section .work {
  width: 100%;
}

.center__section .work h1 {
  text-align: center;
  margin: 80px 0px;
}

.center__section .work .work__container {
  width: 96%;
  margin: 0px 20px;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgb(185, 185, 185);
}

.center__section .work .work__container .work__flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.center__section .work .work__container .work__flex .left {
  width: 40%;
  padding: 5px 20px;
}
.center__section .work .work__container .work__flex .right {
  width: 60%;
  padding: 5px 20px;
}
.center__section .work .work__container .line {
  margin: 20px 55px;
}

.center__section .work .work__container .work__flex .work__inner__flex {
  display: flex;
  margin: 20px 0px;
}

.center__section .work .work__container .work__flex .work__inner__flex .month {
  background-color: #ffb400;
  color: white;
  height: 25px;
  padding: 0px 10px;
  margin-left: 10px;
}

.center__section .publication {
  width: 96%;
  margin: 0px 15px;
  overflow-x: auto;
}

.center__section .publication h1 {
  text-align: center;
  margin: 80px 0px;
}

.center__section .publication .table__container {
  overflow: hidden;
}

table {
  width: 95%;
  margin: 20px 0;
  border: 1px solid #ffb400;
}

tbody tr td {
  border: 1px solid #ffb400;
}
thead tr th {
  border: 1px solid black;
}

th,
td {
  padding: 30px 5px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
  transition: all 0.3s ease;
}

th {
  background-color: #f2b600;
  color: white;
}

tbody tr {
  transition: all 0.3s ease;
}

tbody tr:hover {
  height: auto;
  background-color: #ffeaa7;
}

tbody tr:hover td {
  max-width: none;
  white-space: normal;
  transform: scale(1.05);
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ffb400;
}

tbody tr.active {
  height: auto;
  background-color: #ffeaa7;
}
.center__section .book {
  width: 100%;
}

.center__section .book h1 {
  text-align: center;
  margin: 80px 0px;
}
.center__section .book .chapter__container {
  background-color: #fff;
  text-align: center;
  border: 1px solid #ffb400;
  border-right: none;
  border-bottom: none;
  margin: 0px 10px;
  padding: 20px 35px;
  box-shadow: 5px 5px 5px rgb(195, 195, 195);
}
.book-content {
  max-height: 100px;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.book-content.expanded0 {
  max-height: 500px;
}
.book-content.expanded1 {
  max-height: 500px;
}
.book-content.expanded2 {
  max-height: 500px;
}
.book-content.expanded3 {
  max-height: 500px;
}
.book-content.expanded4 {
  max-height: 500px;
}
.book-content.expanded5 {
  max-height: 500px;
}
.award-content {
  max-height: 50px;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.award-content.expanded0 {
  max-height: 500px;
}
.award-content.expanded1 {
  max-height: 500px;
}
.award-content.expanded2 {
  max-height: 500px;
}

.read-more-award-btn {
  background-color: transparent;
  color: #007bff;
  border: none;
  cursor: pointer;
}

.read-more-award-btn:hover {
  color: #0056b3;
  text-decoration: underline;
}

.read-more-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 10px;
}

.read-more-btn:hover {
  background-color: #0056b3;
}

.center__section .container .award_col {
  padding: 30px 50px;
  box-shadow: 0px 0px 20px rgb(185, 185, 185);
}

.center__section .event h1 {
  margin: 80px 0px;
  text-align: center;
}

.center__section .event .event__main {
  width: 96%;
  margin: 0px 30px;
}

.center__section .event .event__main .event__container {
  padding: 20px 35px;
  background-color: #fff;
  margin: 20px 0px;
  box-shadow: 0px 0px 20px rgb(185, 185, 185);
  width: 96%;
}
.center__section .event .event__main .event__container h5 {
  color: #ffb400;
  padding-top: 20px;
}
.center__section .event .event__main .event__container p {
  padding: 10px 0px;
}
.span {
  color: #ffb400;
}
.active1 {
  display: none;
}
@media only screen and (max-width: 1081px) {
  .center__section {
    margin-top: 35px;
  }
  .self__container {
    flex-direction: column;
  }
  .inner__left__side {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .inner__right__side {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .center__section #home .self__container .inner__left__side {
    width: 100%;
  }
  .center__section #home .self__container .inner__right__side {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .center__section #home .self__container .inner__right__side button {
    text-align: center;
  }
  .societies__flex {
    flex-direction: column;
  }
  .center__section .education .education__container .edu__flex .left {
    width: 100%;
  }
  .center__section .education .education__container .edu__flex .right {
    width: 100%;
  }
  .center__section .education .education__container .edu__flex {
    flex-direction: column;
  }
  .center__section .work .work__container .work__flex .left {
    width: 100%;
  }
  .center__section .work .work__container .work__flex .right {
    width: 100%;
  }
  .center__section .work .work__container .work__flex {
    flex-direction: column;
  }
  .self__container {
    flex-direction: column;
  }
  .self__container .inner__left__side {
    width: 100%;
  }
  .self__container .inner__right__side {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .center__section {
    margin-top: 35px;
    width: 100%;
  }
  .center__section #home .self__container .inner__left__side {
    width: 100%;
  }
  .center__section #home .self__container .inner__right__side {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .center__section #home .self__container .inner__right__side button {
    text-align: center;
  }
  .center__section #home .self__container {
    margin: 0px !important;
  }
  .center__section #home .overview_conatiner {
    margin: 0px !important;
    margin-top: 20px !important;
    width: 100% !important;
  }
  .center__section #home .societies__container {
    width: 100% !important;
    margin: 0px !important;
  }
  .center__section .education .education__container {
    width: 93%;
  }
  .mobile_Home {
    display: flex;
    margin: 0px 0px;
    margin-top: 65px;
    margin-bottom: 20px;
    padding: 0px 10px;
    background-color: #fff;
    box-shadow: 0px 0x 30px rgb(185, 185, 185) !important;
  }
  .mobile_Home .small-view {
    border: 1px solid rgb(180, 180, 180);
    border-left: none;
    border-top: none;
    border-bottom: none;
    width: 40%;
    padding: 10px 5px;
  }
  .mobile_Home .small-view-1 {
    width: 60%;
    display: flex !important;
    justify-content: center !important;
    flex-direction: column !important;
  }
  .mobile_Home .image__container {
    margin: 20px 0px;
    display: flex;
    justify-content: center;
  }
  .mobile_Home .image__container img {
    width: 100%;
  }
  .mobile_Home .line {
    width: 100%;
    border: 1px solid rgb(177, 175, 175);
    padding: 10px 0px;
    border-top: none;
    border-right: none;
    border-left: none;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
  }
  .mobile_Home .mobile__left {
    width: 50%;
    padding: 5px 20px;
    margin-bottom: 10px;
    border: 1px solid rgb(177, 175, 175);
    border-left: none;
    border-top: none;
    border-bottom: none;
  }
  .mobile_Home .mobile__right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mobile_Home .mobile__left .progress {
    height: 5px;
    padding: 1px;
    border-color: #ffb400;
    box-shadow: 0px 0px 10px #ffb400;
    background: #fff;
  }
  .mobile_Home .mobile__right button {
    all: unset;
    border-radius: 20px;
    background-color: #f2b600;
    padding: 15px 20px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  .mobile_Home .mobile__right button:hover {
    box-shadow: 0px 0px 30px #f0b326;
  }
}
@media only screen and (max-width: 576px) {
  .card1 {
    width: 250px;
  }
  .card2 {
    width: 250px;
  }
  .center__section .event .event__main {
    width: 90%;
  }
  .center__section .book .upper {
    width: 96%;
  }
  .center__section .work .work__container {
    width: 90%;
  }
  .center__section .education .education__container {
    width: 90%;
  }
  .center__section #home .societies__container {
    width: 90%;
  }
  .center__section #home .self__container .inner__left__side {
    width: 100%;
  }
  .center__section #home .self__container .inner__right__side {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .center__section #home .self__container .inner__right__side button {
    text-align: center;
  }
  .center__section #home .overview_conatiner {
    width: 90%;
    background-color: #fff;
    margin: 0px 20px;
    margin-top: 20px;
    box-shadow: 0px 0px 20px rgb(185, 185, 185);
  }
  .row {
    flex-direction: column;
  }
  .small-view {
    width: 100% !important;
    border: none !important;
  }
  .small-view img {
    width: 350px !important
    ;
  }
  .small-view-1 {
    width: 100% !important;
  }
  .small-view-1 .h-75 {
    height: 35px !important;
  }
  .mobile__left {
    width: 100% !important;
    border: none !important;
  }
  .mobile__right {
    width: 100% !important;
  }
  .mobile__right button {
    margin-bottom: 20px !important;
  }
  .mobile-main {
    flex-direction: column !important;
  }
  .table__container {
    width: 100%;
    overflow-x: scroll !important;
  }
  .mobile_Home .image__container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .mobile_Home .image__container img {
    width: 150px !important;
  }
  .certificate__flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .certificate__flex .col-sm-6 {
    display: flex;
    justify-content: center;
  }
  th,
  td {
    max-width: 50px;
  }

  tbody tr:hover {
    height: auto;
    background-color: #ffeaa7;
  }

  tbody tr:hover td {
    max-width: 50px;
    white-space: normal;
    transform: scale(1);
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ffb400;
  }

  tbody tr.active {
    height: auto;
    background-color: #ffeaa7;
  }
}
